<div role="option" class="dijitReset ${baseClass}"
	><input class="${baseClass}Box" data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="checkBox" 
		data-dojo-attach-event="_onClick:_changeBox" type="${_type.type}" data-dojo-props='disabled:${disabled}, readOnly:${readOnly}' baseClass="${_type.baseClass}"
		aria-labelledby="${id}_label"
	/><div class="dijitInline ${baseClass}Label" data-dojo-attach-point="labelNode" data-dojo-attach-event="onclick:_onClick" id="${id}_label"></div
></div>
