<!doctype html>
<html lang="en">
<head>
	<title>Weather Forecast</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="all.css">
	<!-- Use to change table's appearance-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	
	
</head>

<body>

<div class="container">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
	  <li><a data-toggle="tab" href="#menu1">Weather Forecast</a></li>
	  <li><a data-toggle="tab" href="#menu2">Population</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			This application will help you with the weather forcast and some figures that you may need to know around the world.
		</div>
		<div id="menu1" class="tab-pane fade">
			<div>
				<input type="text" name="location" id="locationId">

				<input type="button" class="btn btn-default" name="search" value="Search" onclick="searchForWeather();">

				<input type="button" class="btn btn-default" name="clear" value="Refresh" onclick="refreshPage();">

				<input type="button" class="btn btn-default" name="compare" value="Compare weather" onclick="getAverageWeather();">

				<p>Here is some city's codes: 6455259, 3060972, 1566083, 2969284</p>
				<label style="display:none;" id="hiddenCity"></label>
				<div id="city"></div>
				<div id="displayData" style="display:inline-block;"></div>
				<div id="displayAverage" style="float: right; display:inline-block;">The range from 40 to 50 humidity is good weather. Out of this range is considered to be bad weather.</div>

			</div>
		</div>
		<div id="menu2" class="tab-pane fade" ng-app="myApp" ng-controller="countriesCtrl">
			<div class="row">
				<div class="col-sm-2">Country:</div><div class="col-sm-9"><select id="selectedCountry" ng-model="selectedName" ng-options="x for x in countries"></select></div>
				<!-- <div class="col-sm-2">Country:</div><div class="col-sm-9"><input type="text" id="selectedCountry"></div> -->
				<div class="col-sm-2">Age:</div><div class="col-sm-9"><input type="text" id="age"></div> 
				<div class="col-sm-2">Year:</div><div class="col-sm-9"><input type="text" id="year"></div> 
				<div class="col-sm-2">Any Date:</div><div class="col-sm-9"><input type="text" id="datepicker"></div> 
				<div class="col-sm-2">Today:</div><div class="col-sm-9"><input type="text" id="today"> </div> 
				<div class="col-sm-12"><button class="btn btn-default" ng-click="populationSearch();">Search</button><button class="btn btn-default" ng-click="emptyAllTxtBox();">Clear</button></div>
				
				<div class="col-sm-12"><br/></div>
			</div>
			<div class="row">
				<table class="table" id="allpop">
					<tr ng-repeat="x in alldata">
						<td>Country</td><td>{{x.country}}</td>
						<td>Age</td><td>{{x.age}}</td>
						<td>Male</td><td class="male">{{x.males}}</td>
						<td>Female</td><td class="female">{{x.females}}</td>
						<td>Total</td><td>{{x.total}}</td>
					</tr>
				</table>
				<table class="table" id="specdate">
					<tr ng-repeat="x in specificdate">
						<td width="300px" colspan="2">{{country}}</td>
					</tr>
					<tr ng-repeat="x in specificdate">
						<td width="100px">Date</td>
						<td width="200px">{{specificdate.total_population.date}}</td>
					</tr>
					<tr ng-repeat="x in specificdate">
						<td width="100px">Population</td>
						<td width="200px">{{specificdate.total_population.population}}</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
</div>

<!-- Use to shorten the lines of code -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Use to proceed some commands instead of using Javascript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Use to display datepicker -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Use to format table-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Our javascrip file -->
<script type="text/javascript" src="generic.js"></script>
</body>
</html>