	
	.button .dijitButtonContents {
		background: transparent no-repeat url('_resources/spirted-images.png');
		height: 16px;
		width: 22px;
		margin-top: 4px;
		margin-left: 5px;
	}
	
	.button .dijitButtonText {
		visibility: hidden;
		width: 20px;
	}
	.button .dijitButtonNode {
		padding: 4px 0 0 7px;
	}
	
	.actions-add-big-1 .dijitButtonContents { background-position: 0 0; } 
	.actions-add-big-2 .dijitButtonContents { background-position: 0 -36px; } 
	.actions-add-medium-thin .dijitButtonContents { background-position: 0 -72px; } 
	.actions-add-mini .dijitButtonContents { background-position: 0 -108px; } 
	.actions-add-small-thin .dijitButtonContents { background-position: 0 -144px; } 
	.actions-add-small .dijitButtonContents { background-position: 0 -180px; } 
	.actions-circle-add-1 .dijitButtonContents { background-position: 0 -216px; } 
	.actions-circle-add-2 .dijitButtonContents { background-position: 0 -252px; } 
	.actions-circle-add-small .dijitButtonContents { background-position: 0 -288px; } 
	.actions-circle-delete-1 .dijitButtonContents { background-position: 0 -324px; } 
	.actions-circle-delete-2 .dijitButtonContents { background-position: 0 -360px; } 
	.actions-circle-remove-1 .dijitButtonContents { background-position: 0 -396px; } 
	.actions-circle-remove-2 .dijitButtonContents { background-position: 0 -432px; } 
	.actions-delete-big-1 .dijitButtonContents { background-position: 0 -468px; } 
	.actions-delete-big-2 .dijitButtonContents { background-position: 0 -504px; } 
	.actions-delete-medium-1 .dijitButtonContents { background-position: 0 -540px; } 
	.actions-delete-medium-thin .dijitButtonContents { background-position: 0 -576px; } 
	.actions-delete-mini .dijitButtonContents { background-position: 0 -612px; } 
	.actions-delete-small-thin .dijitButtonContents { background-position: 0 -648px; } 
	.actions-delete-small .dijitButtonContents { background-position: 0 -684px; } 
	.actions-medium-1 .dijitButtonContents { background-position: 0 -720px; } 
	.actions-remove-big-1 .dijitButtonContents { background-position: 0 -756px; } 
	.actions-remove-big-2 .dijitButtonContents { background-position: 0 -792px; } 
	.actions-remove-medium-1 .dijitButtonContents { background-position: 0 -828px; } 
	.actions-remove-medium-thin .dijitButtonContents { background-position: 0 -864px; } 
	.actions-remove-mini .dijitButtonContents { background-position: 0 -900px; } 
	.actions-remove-small-thin .dijitButtonContents { background-position: 0 -936px; } 
	.actions-remove-small .dijitButtonContents { background-position: 0 -972px; } 
	.actions-square-add .dijitButtonContents { background-position: 0 -1008px; } 
	.actions-square-delete-small .dijitButtonContents { background-position: 0 -1044px; } 
	.actions-square-delete .dijitButtonContents { background-position: 0 -1080px; } 
	.actions-square-remove-small .dijitButtonContents { background-position: 0 -1116px; } 
	.actions-square-remove .dijitButtonContents { background-position: 0 -1152px; } 
	.artwork-brush-1 .dijitButtonContents { background-position: 0 -1188px; } 
	.artwork-brush-2 .dijitButtonContents { background-position: 0 -1224px; } 
	.artwork-bucket .dijitButtonContents { background-position: 0 -1260px; } 
	.artwork-crop .dijitButtonContents { background-position: 0 -1296px; } 
	.artwork-eyedropper .dijitButtonContents { background-position: 0 -1332px; } 
	.artwork-from .dijitButtonContents { background-position: 0 -1368px; } 
	.artwork-grid .dijitButtonContents { background-position: 0 -1404px; } 
	.artwork-highlighter .dijitButtonContents { background-position: 0 -1440px; } 
	.artwork-layers .dijitButtonContents { background-position: 0 -1476px; } 
	.artwork-magic-wand .dijitButtonContents { background-position: 0 -1512px; } 
	.artwork-magnet .dijitButtonContents { background-position: 0 -1548px; } 
	.artwork-mark .dijitButtonContents { background-position: 0 -1584px; } 
	.artwork-paintroll .dijitButtonContents { background-position: 0 -1620px; } 
	.artwork-palette .dijitButtonContents { background-position: 0 -1656px; } 
	.artwork-pen-1 .dijitButtonContents { background-position: 0 -1692px; } 
	.artwork-pen-2 .dijitButtonContents { background-position: 0 -1728px; } 
	.artwork-ruler .dijitButtonContents { background-position: 0 -1764px; } 
	.artwork-spray .dijitButtonContents { background-position: 0 -1800px; } 
	.artwork-stamp .dijitButtonContents { background-position: 0 -1836px; } 
	.artwork-tri-square .dijitButtonContents { background-position: 0 -1872px; } 
	.attribute-alert-1 .dijitButtonContents { background-position: 0 -1908px; } 
	.attribute-alert-2 .dijitButtonContents { background-position: 0 -1944px; } 
	.attribute-flash .dijitButtonContents { background-position: 0 -1980px; } 
	.attribute-hand .dijitButtonContents { background-position: 0 -2016px; } 
	.attribute-key .dijitButtonContents { background-position: 0 -2052px; } 
	.attribute-lock-close .dijitButtonContents { background-position: 0 -2088px; } 
	.attribute-lock-open .dijitButtonContents { background-position: 0 -2124px; } 
	.attribute-new .dijitButtonContents { background-position: 0 -2160px; } 
	.attribute-pin-1 .dijitButtonContents { background-position: 0 -2196px; } 
	.attribute-pin-2 .dijitButtonContents { background-position: 0 -2232px; } 
	.attribute-shield .dijitButtonContents { background-position: 0 -2268px; } 
	.attribute-tag-1 .dijitButtonContents { background-position: 0 -2304px; } 
	.attribute-tag-2 .dijitButtonContents { background-position: 0 -2340px; } 
	.attribute-tags-1 .dijitButtonContents { background-position: 0 -2376px; } 
	.attribute-tags-2 .dijitButtonContents { background-position: 0 -2412px; } 
	.attribute-target .dijitButtonContents { background-position: 0 -2448px; } 
	.beveled-big-1 .dijitButtonContents { background-position: 0 -2484px; } 
	.beveled-big-2 .dijitButtonContents { background-position: 0 -2520px; } 
	.beveled-big-3 .dijitButtonContents { background-position: 0 -2556px; } 
	.beveled-big-4 .dijitButtonContents { background-position: 0 -2592px; } 
	.beveled-big-5 .dijitButtonContents { background-position: 0 -2628px; } 
	.beveled-big-6 .dijitButtonContents { background-position: 0 -2664px; } 
	.beveled-big-square-1 .dijitButtonContents { background-position: 0 -2700px; } 
	.beveled-big-square-2 .dijitButtonContents { background-position: 0 -2736px; } 
	.beveled-big-square-3 .dijitButtonContents { background-position: 0 -2772px; } 
	.beveled-big-square-4 .dijitButtonContents { background-position: 0 -2808px; } 
	.beveled-big-square-5 .dijitButtonContents { background-position: 0 -2844px; } 
	.beveled-big-square-6 .dijitButtonContents { background-position: 0 -2880px; } 
	.beveled-medium-1 .dijitButtonContents { background-position: 0 -2916px; } 
	.beveled-medium-2 .dijitButtonContents { background-position: 0 -2952px; } 
	.beveled-medium-3 .dijitButtonContents { background-position: 0 -2988px; } 
	.beveled-medium-4 .dijitButtonContents { background-position: 0 -3024px; } 
	.beveled-medium-5 .dijitButtonContents { background-position: 0 -3060px; } 
	.beveled-medium-6 .dijitButtonContents { background-position: 0 -3096px; } 
	.beveled-small-1 .dijitButtonContents { background-position: 0 -3132px; } 
	.beveled-small-2 .dijitButtonContents { background-position: 0 -3168px; } 
	.beveled-small-3 .dijitButtonContents { background-position: 0 -3204px; } 
	.beveled-small-4 .dijitButtonContents { background-position: 0 -3240px; } 
	.beveled-small-5 .dijitButtonContents { background-position: 0 -3276px; } 
	.beveled-small-6 .dijitButtonContents { background-position: 0 -3312px; } 
	.chevron-big-1 .dijitButtonContents { background-position: 0 -3348px; } 
	.chevron-big-2 .dijitButtonContents { background-position: 0 -3384px; } 
	.chevron-big-3 .dijitButtonContents { background-position: 0 -3420px; } 
	.chevron-big-4 .dijitButtonContents { background-position: 0 -3456px; } 
	.chevron-big-circle-1 .dijitButtonContents { background-position: 0 -3492px; } 
	.chevron-big-circle-2 .dijitButtonContents { background-position: 0 -3528px; } 
	.chevron-big-circle-3 .dijitButtonContents { background-position: 0 -3564px; } 
	.chevron-big-circle-4 .dijitButtonContents { background-position: 0 -3600px; } 
	.chevron-big-square-1 .dijitButtonContents { background-position: 0 -3636px; } 
	.chevron-big-square-2 .dijitButtonContents { background-position: 0 -3672px; } 
	.chevron-big-square-3 .dijitButtonContents { background-position: 0 -3708px; } 
	.chevron-big-square-4 .dijitButtonContents { background-position: 0 -3744px; } 
	.chevron-big-square-bold-1 .dijitButtonContents { background-position: 0 -3780px; } 
	.chevron-big-square-bold-2 .dijitButtonContents { background-position: 0 -3816px; } 
	.chevron-big-square-bold-3 .dijitButtonContents { background-position: 0 -3852px; } 
	.chevron-big-square-bold-4 .dijitButtonContents { background-position: 0 -3888px; } 
	.chevron-big-square-fat-1 .dijitButtonContents { background-position: 0 -3924px; } 
	.chevron-big-square-fat-2 .dijitButtonContents { background-position: 0 -3960px; } 
	.chevron-big-square-fat-3 .dijitButtonContents { background-position: 0 -3996px; } 
	.chevron-big-square-fat-4 .dijitButtonContents { background-position: 0 -4032px; } 
	.chevron-double-1 .dijitButtonContents { background-position: 0 -4068px; } 
	.chevron-double-2 .dijitButtonContents { background-position: 0 -4104px; } 
	.chevron-double-3 .dijitButtonContents { background-position: 0 -4140px; } 
	.chevron-double-4 .dijitButtonContents { background-position: 0 -4176px; } 
	.chevron-double-bold-1 .dijitButtonContents { background-position: 0 -4212px; } 
	.chevron-double-bold-2 .dijitButtonContents { background-position: 0 -4248px; } 
	.chevron-double-bold-3 .dijitButtonContents { background-position: 0 -4284px; } 
	.chevron-double-bold-4 .dijitButtonContents { background-position: 0 -4320px; } 
	.chevron-double-fat-1 .dijitButtonContents { background-position: 0 -4356px; } 
	.chevron-double-fat-2 .dijitButtonContents { background-position: 0 -4392px; } 
	.chevron-double-fat-3 .dijitButtonContents { background-position: 0 -4428px; } 
	.chevron-double-fat-4 .dijitButtonContents { background-position: 0 -4464px; } 
	.chevron-double-mix-1 .dijitButtonContents { background-position: 0 -4500px; } 
	.chevron-double-mix-2 .dijitButtonContents { background-position: 0 -4536px; } 
	.chevron-double-mix-3 .dijitButtonContents { background-position: 0 -4572px; } 
	.chevron-double-mix-4 .dijitButtonContents { background-position: 0 -4608px; } 
	.chevron-medium-1 .dijitButtonContents { background-position: 0 -4644px; } 
	.chevron-medium-2 .dijitButtonContents { background-position: 0 -4680px; } 
	.chevron-medium-3 .dijitButtonContents { background-position: 0 -4716px; } 
	.chevron-medium-4 .dijitButtonContents { background-position: 0 -4752px; } 
	.chevron-medium-big-1 .dijitButtonContents { background-position: 0 -4788px; } 
	.chevron-medium-big-2 .dijitButtonContents { background-position: 0 -4824px; } 
	.chevron-medium-big-3 .dijitButtonContents { background-position: 0 -4860px; } 
	.chevron-medium-big-4 .dijitButtonContents { background-position: 0 -4896px; } 
	.chevron-medium-circle-1 .dijitButtonContents { background-position: 0 -4932px; } 
	.chevron-medium-circle-2 .dijitButtonContents { background-position: 0 -4968px; } 
	.chevron-medium-circle-3 .dijitButtonContents { background-position: 0 -5004px; } 
	.chevron-medium-circle-4 .dijitButtonContents { background-position: 0 -5040px; } 
	.chevron-medium-fat-1 .dijitButtonContents { background-position: 0 -5076px; } 
	.chevron-medium-fat-2 .dijitButtonContents { background-position: 0 -5112px; } 
	.chevron-medium-fat-3 .dijitButtonContents { background-position: 0 -5148px; } 
	.chevron-medium-fat-4 .dijitButtonContents { background-position: 0 -5184px; } 
	.chevron-medium-thin-1 .dijitButtonContents { background-position: 0 -5220px; } 
	.chevron-medium-thin-2 .dijitButtonContents { background-position: 0 -5256px; } 
	.chevron-medium-thin-3 .dijitButtonContents { background-position: 0 -5292px; } 
	.chevron-medium-thin-4 .dijitButtonContents { background-position: 0 -5328px; } 
	.chevron-small-1 .dijitButtonContents { background-position: 0 -5364px; } 
	.chevron-small-2 .dijitButtonContents { background-position: 0 -5400px; } 
	.chevron-small-3 .dijitButtonContents { background-position: 0 -5436px; } 
	.chevron-small-4 .dijitButtonContents { background-position: 0 -5472px; } 
	.chevron-small-circle-1 .dijitButtonContents { background-position: 0 -5508px; } 
	.chevron-small-circle-2 .dijitButtonContents { background-position: 0 -5544px; } 
	.chevron-small-circle-3 .dijitButtonContents { background-position: 0 -5580px; } 
	.chevron-small-circle-4 .dijitButtonContents { background-position: 0 -5616px; } 
	.commerce-bank-note .dijitButtonContents { background-position: 0 -5652px; } 
	.commerce-calculator .dijitButtonContents { background-position: 0 -5688px; } 
	.commerce-cart-add .dijitButtonContents { background-position: 0 -5724px; } 
	.commerce-cart-remove .dijitButtonContents { background-position: 0 -5760px; } 
	.commerce-cart .dijitButtonContents { background-position: 0 -5796px; } 
	.commerce-cash-register .dijitButtonContents { background-position: 0 -5832px; } 
	.commerce-coins .dijitButtonContents { background-position: 0 -5868px; } 
	.commerce-credit-card .dijitButtonContents { background-position: 0 -5904px; } 
	.commerce-gift .dijitButtonContents { background-position: 0 -5940px; } 
	.commerce-shop .dijitButtonContents { background-position: 0 -5976px; } 
	.commerce-shopping-bag .dijitButtonContents { background-position: 0 -6012px; } 
	.commerce-sign .dijitButtonContents { background-position: 0 -6048px; } 
	.commerce-ticket .dijitButtonContents { background-position: 0 -6084px; } 
	.commerce-trolley-1 .dijitButtonContents { background-position: 0 -6120px; } 
	.commerce-trolley-2 .dijitButtonContents { background-position: 0 -6156px; } 
	.commerce-trolley-3 .dijitButtonContents { background-position: 0 -6192px; } 
	.commerce-trolley-add .dijitButtonContents { background-position: 0 -6228px; } 
	.commerce-trolley-remove .dijitButtonContents { background-position: 0 -6264px; } 
	.contact-answer-machine .dijitButtonContents { background-position: 0 -6300px; } 
	.contact-arobase .dijitButtonContents { background-position: 0 -6336px; } 
	.contact-fax-print .dijitButtonContents { background-position: 0 -6372px; } 
	.contact-fax .dijitButtonContents { background-position: 0 -6408px; } 
	.contact-headphone .dijitButtonContents { background-position: 0 -6444px; } 
	.contact-mail-letter .dijitButtonContents { background-position: 0 -6480px; } 
	.contact-mail-open .dijitButtonContents { background-position: 0 -6516px; } 
	.contact-mail .dijitButtonContents { background-position: 0 -6552px; } 
	.contact-mailbox-download .dijitButtonContents { background-position: 0 -6588px; } 
	.contact-mailbox-upload .dijitButtonContents { background-position: 0 -6624px; } 
	.contact-mobile-phone-1 .dijitButtonContents { background-position: 0 -6660px; } 
	.contact-mobile-phone-2 .dijitButtonContents { background-position: 0 -6696px; } 
	.contact-phone-24-hours .dijitButtonContents { background-position: 0 -6732px; } 
	.contact-phone-active .dijitButtonContents { background-position: 0 -6768px; } 
	.contact-phone .dijitButtonContents { background-position: 0 -6804px; } 
	.contact-video .dijitButtonContents { background-position: 0 -6840px; } 
	.contacts-ID-tag .dijitButtonContents { background-position: 0 -6876px; } 
	.contacts-adress-book-1 .dijitButtonContents { background-position: 0 -6912px; } 
	.contacts-adress-book-2 .dijitButtonContents { background-position: 0 -6948px; } 
	.contacts-adress-book-3 .dijitButtonContents { background-position: 0 -6984px; } 
	.contacts-card-1 .dijitButtonContents { background-position: 0 -7020px; } 
	.contacts-cards-1 .dijitButtonContents { background-position: 0 -7056px; } 
	.contacts-cards-2 .dijitButtonContents { background-position: 0 -7092px; } 
	.contacts-cards-3 .dijitButtonContents { background-position: 0 -7128px; } 
	.contacts-location .dijitButtonContents { background-position: 0 -7164px; } 
	.contacts-man .dijitButtonContents { background-position: 0 -7200px; } 
	.contacts-user-add .dijitButtonContents { background-position: 0 -7236px; } 
	.contacts-user-business .dijitButtonContents { background-position: 0 -7272px; } 
	.contacts-user-delete .dijitButtonContents { background-position: 0 -7308px; } 
	.contacts-user-jacket .dijitButtonContents { background-position: 0 -7344px; } 
	.contacts-user-remove .dijitButtonContents { background-position: 0 -7380px; } 
	.contacts-user-small .dijitButtonContents { background-position: 0 -7416px; } 
	.contacts-user-talk .dijitButtonContents { background-position: 0 -7452px; } 
	.contacts-user-validate .dijitButtonContents { background-position: 0 -7488px; } 
	.contacts-user-woman .dijitButtonContents { background-position: 0 -7524px; } 
	.contacts-user .dijitButtonContents { background-position: 0 -7560px; } 
	.contacts-users .dijitButtonContents { background-position: 0 -7596px; } 
	.contacts-woman .dijitButtonContents { background-position: 0 -7632px; } 
	.content-book-1 .dijitButtonContents { background-position: 0 -7668px; } 
	.content-book-2 .dijitButtonContents { background-position: 0 -7704px; } 
	.content-book-3 .dijitButtonContents { background-position: 0 -7740px; } 
	.content-book-4 .dijitButtonContents { background-position: 0 -7776px; } 
	.content-books-1 .dijitButtonContents { background-position: 0 -7812px; } 
	.content-books-2 .dijitButtonContents { background-position: 0 -7848px; } 
	.content-books .dijitButtonContents { background-position: 0 -7884px; } 
	.content-box .dijitButtonContents { background-position: 0 -7920px; } 
	.content-clipboard-1 .dijitButtonContents { background-position: 0 -7956px; } 
	.content-clipboard-2 .dijitButtonContents { background-position: 0 -7992px; } 
	.content-clipboard-3 .dijitButtonContents { background-position: 0 -8028px; } 
	.content-drawer .dijitButtonContents { background-position: 0 -8064px; } 
	.content-newspaper .dijitButtonContents { background-position: 0 -8100px; } 
	.content-notepad .dijitButtonContents { background-position: 0 -8136px; } 
	.content-sticker .dijitButtonContents { background-position: 0 -8172px; } 
	.control-eject .dijitButtonContents { background-position: 0 -8208px; } 
	.control-forward-2 .dijitButtonContents { background-position: 0 -8244px; } 
	.control-forward .dijitButtonContents { background-position: 0 -8280px; } 
	.control-pause-2 .dijitButtonContents { background-position: 0 -8316px; } 
	.control-pause .dijitButtonContents { background-position: 0 -8352px; } 
	.control-play-2 .dijitButtonContents { background-position: 0 -8388px; } 
	.control-play .dijitButtonContents { background-position: 0 -8424px; } 
	.control-rewind-2 .dijitButtonContents { background-position: 0 -8460px; } 
	.control-rewind .dijitButtonContents { background-position: 0 -8496px; } 
	.control-skip-back-2 .dijitButtonContents { background-position: 0 -8532px; } 
	.control-skip-back .dijitButtonContents { background-position: 0 -8568px; } 
	.control-skip-forward-2 .dijitButtonContents { background-position: 0 -8604px; } 
	.control-skip-forward .dijitButtonContents { background-position: 0 -8640px; } 
	.datas-block .dijitButtonContents { background-position: 0 -8676px; } 
	.datas-blocks-2 .dijitButtonContents { background-position: 0 -8712px; } 
	.datas-blocks .dijitButtonContents { background-position: 0 -8748px; } 
	.datas-funnel .dijitButtonContents { background-position: 0 -8784px; } 
	.datas-grid-1 .dijitButtonContents { background-position: 0 -8820px; } 
	.datas-grid-2 .dijitButtonContents { background-position: 0 -8856px; } 
	.datas-heirarchy .dijitButtonContents { background-position: 0 -8892px; } 
	.datas-layers .dijitButtonContents { background-position: 0 -8928px; } 
	.datas-list-1 .dijitButtonContents { background-position: 0 -8964px; } 
	.datas-list-2 .dijitButtonContents { background-position: 0 -9000px; } 
	.datas-tree .dijitButtonContents { background-position: 0 -9036px; } 
	.delivery-box-download .dijitButtonContents { background-position: 0 -9072px; } 
	.delivery-box-upload .dijitButtonContents { background-position: 0 -9108px; } 
	.delivery-box .dijitButtonContents { background-position: 0 -9144px; } 
	.delivery-trolley-1 .dijitButtonContents { background-position: 0 -9180px; } 
	.delivery-trolley-2-empty .dijitButtonContents { background-position: 0 -9216px; } 
	.delivery-trolley-add .dijitButtonContents { background-position: 0 -9252px; } 
	.delivery-trolley-full .dijitButtonContents { background-position: 0 -9288px; } 
	.delivery-trolley-remove .dijitButtonContents { background-position: 0 -9324px; } 
	.delivery-truck .dijitButtonContents { background-position: 0 -9360px; } 
	.delivery-van .dijitButtonContents { background-position: 0 -9396px; } 
	.discussions-comment-1-add .dijitButtonContents { background-position: 0 -9432px; } 
	.discussions-comment-1-delete .dijitButtonContents { background-position: 0 -9468px; } 
	.discussions-comment-1-dots .dijitButtonContents { background-position: 0 -9504px; } 
	.discussions-comment-1 .dijitButtonContents { background-position: 0 -9540px; } 
	.discussions-comment-2-add .dijitButtonContents { background-position: 0 -9576px; } 
	.discussions-comment-2-delete .dijitButtonContents { background-position: 0 -9612px; } 
	.discussions-comment-2-dots .dijitButtonContents { background-position: 0 -9648px; } 
	.discussions-comment-2 .dijitButtonContents { background-position: 0 -9684px; } 
	.discussions-comment-smiley .dijitButtonContents { background-position: 0 -9720px; } 
	.discussions-comments-1 .dijitButtonContents { background-position: 0 -9756px; } 
	.discussions-comments-2 .dijitButtonContents { background-position: 0 -9792px; } 
	.discussions-speaker-1 .dijitButtonContents { background-position: 0 -9828px; } 
	.discussions-speaker-2 .dijitButtonContents { background-position: 0 -9864px; } 
	.dotted-big-1 .dijitButtonContents { background-position: 0 -9900px; } 
	.dotted-big-2 .dijitButtonContents { background-position: 0 -9936px; } 
	.dotted-big-3 .dijitButtonContents { background-position: 0 -9972px; } 
	.dotted-big-4 .dijitButtonContents { background-position: 0 -10008px; } 
	.dotted-big-5 .dijitButtonContents { background-position: 0 -10044px; } 
	.dotted-big-6 .dijitButtonContents { background-position: 0 -10080px; } 
	.dotted-big-square-1 .dijitButtonContents { background-position: 0 -10116px; } 
	.dotted-big-square-2 .dijitButtonContents { background-position: 0 -10152px; } 
	.dotted-big-square-3 .dijitButtonContents { background-position: 0 -10188px; } 
	.dotted-big-square-4 .dijitButtonContents { background-position: 0 -10224px; } 
	.dotted-big-square-5 .dijitButtonContents { background-position: 0 -10260px; } 
	.dotted-big-square-6 .dijitButtonContents { background-position: 0 -10296px; } 
	.dotted-medium-1 .dijitButtonContents { background-position: 0 -10332px; } 
	.dotted-medium-2 .dijitButtonContents { background-position: 0 -10368px; } 
	.dotted-medium-3 .dijitButtonContents { background-position: 0 -10404px; } 
	.dotted-medium-4 .dijitButtonContents { background-position: 0 -10440px; } 
	.dotted-medium-5 .dijitButtonContents { background-position: 0 -10476px; } 
	.dotted-medium-6 .dijitButtonContents { background-position: 0 -10512px; } 
	.edition-attach .dijitButtonContents { background-position: 0 -10548px; } 
	.edition-delete-1 .dijitButtonContents { background-position: 0 -10584px; } 
	.edition-delete-2 .dijitButtonContents { background-position: 0 -10620px; } 
	.edition-field-cursor .dijitButtonContents { background-position: 0 -10656px; } 
	.edition-field-edit .dijitButtonContents { background-position: 0 -10692px; } 
	.edition-field-focus .dijitButtonContents { background-position: 0 -10728px; } 
	.edition-hide .dijitButtonContents { background-position: 0 -10764px; } 
	.edition-link .dijitButtonContents { background-position: 0 -10800px; } 
	.edition-magnifier .dijitButtonContents { background-position: 0 -10836px; } 
	.edition-magnify-less .dijitButtonContents { background-position: 0 -10872px; } 
	.edition-magnify-more .dijitButtonContents { background-position: 0 -10908px; } 
	.edition-modify .dijitButtonContents { background-position: 0 -10944px; } 
	.edition-pointer .dijitButtonContents { background-position: 0 -10980px; } 
	.edition-remove .dijitButtonContents { background-position: 0 -11016px; } 
	.edition-unlink .dijitButtonContents { background-position: 0 -11052px; } 
	.edition-view .dijitButtonContents { background-position: 0 -11088px; } 
	.entertainment-card .dijitButtonContents { background-position: 0 -11124px; } 
	.entertainment-coffee-cup .dijitButtonContents { background-position: 0 -11160px; } 
	.entertainment-dices .dijitButtonContents { background-position: 0 -11196px; } 
	.entertainment-luggage .dijitButtonContents { background-position: 0 -11232px; } 
	.entertainment-theater .dijitButtonContents { background-position: 0 -11268px; } 
	.entertainment-ticket-1 .dijitButtonContents { background-position: 0 -11304px; } 
	.entertainment-ticket-2 .dijitButtonContents { background-position: 0 -11340px; } 
	.file-add .dijitButtonContents { background-position: 0 -11376px; } 
	.file-bookmarked .dijitButtonContents { background-position: 0 -11412px; } 
	.file-calc .dijitButtonContents { background-position: 0 -11448px; } 
	.file-code .dijitButtonContents { background-position: 0 -11484px; } 
	.file-double .dijitButtonContents { background-position: 0 -11520px; } 
	.file-download .dijitButtonContents { background-position: 0 -11556px; } 
	.file-duplicate .dijitButtonContents { background-position: 0 -11592px; } 
	.file-empty .dijitButtonContents { background-position: 0 -11628px; } 
	.file-four .dijitButtonContents { background-position: 0 -11664px; } 
	.file-ghost .dijitButtonContents { background-position: 0 -11700px; } 
	.file-image .dijitButtonContents { background-position: 0 -11736px; } 
	.file-label .dijitButtonContents { background-position: 0 -11772px; } 
	.file-layout .dijitButtonContents { background-position: 0 -11808px; } 
	.file-locked .dijitButtonContents { background-position: 0 -11844px; } 
	.file-modify .dijitButtonContents { background-position: 0 -11880px; } 
	.file-music .dijitButtonContents { background-position: 0 -11916px; } 
	.file-play .dijitButtonContents { background-position: 0 -11952px; } 
	.file-remove .dijitButtonContents { background-position: 0 -11988px; } 
	.file-small .dijitButtonContents { background-position: 0 -12024px; } 
	.file-stack .dijitButtonContents { background-position: 0 -12060px; } 
	.file-stats-1 .dijitButtonContents { background-position: 0 -12096px; } 
	.file-stats-2 .dijitButtonContents { background-position: 0 -12132px; } 
	.file-text .dijitButtonContents { background-position: 0 -12168px; } 
	.file-transfer .dijitButtonContents { background-position: 0 -12204px; } 
	.file-upload .dijitButtonContents { background-position: 0 -12240px; } 
	.file-validated .dijitButtonContents { background-position: 0 -12276px; } 
	.file-view-1 .dijitButtonContents { background-position: 0 -12312px; } 
	.file-view-2 .dijitButtonContents { background-position: 0 -12348px; } 
	.file-zip .dijitButtonContents { background-position: 0 -12384px; } 
	.finance-app-code .dijitButtonContents { background-position: 0 -12420px; } 
	.finance-auction .dijitButtonContents { background-position: 0 -12456px; } 
	.finance-bag-dollar .dijitButtonContents { background-position: 0 -12492px; } 
	.finance-bag-euro .dijitButtonContents { background-position: 0 -12528px; } 
	.finance-balance .dijitButtonContents { background-position: 0 -12564px; } 
	.finance-bank .dijitButtonContents { background-position: 0 -12600px; } 
	.finance-bar-graph .dijitButtonContents { background-position: 0 -12636px; } 
	.finance-briefcase .dijitButtonContents { background-position: 0 -12672px; } 
	.finance-business-case .dijitButtonContents { background-position: 0 -12708px; } 
	.finance-code .dijitButtonContents { background-position: 0 -12744px; } 
	.finance-coin-dollar .dijitButtonContents { background-position: 0 -12780px; } 
	.finance-coin-euro .dijitButtonContents { background-position: 0 -12816px; } 
	.finance-percent .dijitButtonContents { background-position: 0 -12852px; } 
	.finance-pie-graph .dijitButtonContents { background-position: 0 -12888px; } 
	.finance-piggy-bank .dijitButtonContents { background-position: 0 -12924px; } 
	.finance-points-1 .dijitButtonContents { background-position: 0 -12960px; } 
	.finance-points-2 .dijitButtonContents { background-position: 0 -12996px; } 
	.finance-points-blank .dijitButtonContents { background-position: 0 -13032px; } 
	.finance-projection .dijitButtonContents { background-position: 0 -13068px; } 
	.finance-safe .dijitButtonContents { background-position: 0 -13104px; } 
	.finance-stats-down .dijitButtonContents { background-position: 0 -13140px; } 
	.finance-stats-up .dijitButtonContents { background-position: 0 -13176px; } 
	.finance-stats .dijitButtonContents { background-position: 0 -13212px; } 
	.finance-sticker-dollar .dijitButtonContents { background-position: 0 -13248px; } 
	.finance-sticker-euro .dijitButtonContents { background-position: 0 -13284px; } 
	.finance-wallet .dijitButtonContents { background-position: 0 -13320px; } 
	.folder-add .dijitButtonContents { background-position: 0 -13356px; } 
	.folder-delete .dijitButtonContents { background-position: 0 -13392px; } 
	.folder-download .dijitButtonContents { background-position: 0 -13428px; } 
	.folder-ghost .dijitButtonContents { background-position: 0 -13464px; } 
	.folder-locked .dijitButtonContents { background-position: 0 -13500px; } 
	.folder-medium .dijitButtonContents { background-position: 0 -13536px; } 
	.folder-modify .dijitButtonContents { background-position: 0 -13572px; } 
	.folder-network .dijitButtonContents { background-position: 0 -13608px; } 
	.folder-normal .dijitButtonContents { background-position: 0 -13644px; } 
	.folder-open .dijitButtonContents { background-position: 0 -13680px; } 
	.folder-remove .dijitButtonContents { background-position: 0 -13716px; } 
	.folder-small .dijitButtonContents { background-position: 0 -13752px; } 
	.folder-upload .dijitButtonContents { background-position: 0 -13788px; } 
	.folder-validate .dijitButtonContents { background-position: 0 -13824px; } 
	.hardware-CD-Rom .dijitButtonContents { background-position: 0 -13860px; } 
	.hardware-CD .dijitButtonContents { background-position: 0 -13896px; } 
	.hardware-Ipad .dijitButtonContents { background-position: 0 -13932px; } 
	.hardware-Iphone .dijitButtonContents { background-position: 0 -13968px; } 
	.hardware-Ipod .dijitButtonContents { background-position: 0 -14004px; } 
	.hardware-battery-charging .dijitButtonContents { background-position: 0 -14040px; } 
	.hardware-battery-empty .dijitButtonContents { background-position: 0 -14076px; } 
	.hardware-battery-full .dijitButtonContents { background-position: 0 -14112px; } 
	.hardware-cd-player .dijitButtonContents { background-position: 0 -14148px; } 
	.hardware-computer-screen .dijitButtonContents { background-position: 0 -14184px; } 
	.hardware-computer .dijitButtonContents { background-position: 0 -14220px; } 
	.hardware-gameboy .dijitButtonContents { background-position: 0 -14256px; } 
	.hardware-gamepad .dijitButtonContents { background-position: 0 -14292px; } 
	.hardware-hard-disk-1 .dijitButtonContents { background-position: 0 -14328px; } 
	.hardware-hard-disk-2 .dijitButtonContents { background-position: 0 -14364px; } 
	.hardware-hard-disk-3 .dijitButtonContents { background-position: 0 -14400px; } 
	.hardware-hard-disks .dijitButtonContents { background-position: 0 -14436px; } 
	.hardware-joystick .dijitButtonContents { background-position: 0 -14472px; } 
	.hardware-laptop-1 .dijitButtonContents { background-position: 0 -14508px; } 
	.hardware-laptop-2 .dijitButtonContents { background-position: 0 -14544px; } 
	.hardware-plug-1 .dijitButtonContents { background-position: 0 -14580px; } 
	.hardware-plug-2 .dijitButtonContents { background-position: 0 -14616px; } 
	.hardware-projector .dijitButtonContents { background-position: 0 -14652px; } 
	.hardware-radio .dijitButtonContents { background-position: 0 -14688px; } 
	.hardware-servers-network .dijitButtonContents { background-position: 0 -14724px; } 
	.hardware-servers .dijitButtonContents { background-position: 0 -14760px; } 
	.hardware-television .dijitButtonContents { background-position: 0 -14796px; } 
	.hardware-webcam .dijitButtonContents { background-position: 0 -14832px; } 
	.header-3-columns .dijitButtonContents { background-position: 0 -14868px; } 
	.header-4-panels .dijitButtonContents { background-position: 0 -14904px; } 
	.header-column-right .dijitButtonContents { background-position: 0 -14940px; } 
	.infos-alert-circle-2 .dijitButtonContents { background-position: 0 -14976px; } 
	.infos-alert-circle .dijitButtonContents { background-position: 0 -15012px; } 
	.infos-alert-losange .dijitButtonContents { background-position: 0 -15048px; } 
	.infos-alert-triangle .dijitButtonContents { background-position: 0 -15084px; } 
	.infos-exclamation-square .dijitButtonContents { background-position: 0 -15120px; } 
	.infos-info-circle-2 .dijitButtonContents { background-position: 0 -15156px; } 
	.infos-info-circle .dijitButtonContents { background-position: 0 -15192px; } 
	.infos-info-square .dijitButtonContents { background-position: 0 -15228px; } 
	.infos-question-circle-2 .dijitButtonContents { background-position: 0 -15264px; } 
	.infos-question-circle .dijitButtonContents { background-position: 0 -15300px; } 
	.keys-black-1 .dijitButtonContents { background-position: 0 -15336px; } 
	.keys-black-2 .dijitButtonContents { background-position: 0 -15372px; } 
	.keys-black-3 .dijitButtonContents { background-position: 0 -15408px; } 
	.keys-black-4 .dijitButtonContents { background-position: 0 -15444px; } 
	.keys-black-5 .dijitButtonContents { background-position: 0 -15480px; } 
	.keys-black-6 .dijitButtonContents { background-position: 0 -15516px; } 
	.keys-white-1 .dijitButtonContents { background-position: 0 -15552px; } 
	.keys-white-2 .dijitButtonContents { background-position: 0 -15588px; } 
	.keys-white-3 .dijitButtonContents { background-position: 0 -15624px; } 
	.keys-white-4 .dijitButtonContents { background-position: 0 -15660px; } 
	.keys-white-5 .dijitButtonContents { background-position: 0 -15696px; } 
	.keys-white-6 .dijitButtonContents { background-position: 0 -15732px; } 
	.linear-big-1 .dijitButtonContents { background-position: 0 -15768px; } 
	.linear-big-2 .dijitButtonContents { background-position: 0 -15804px; } 
	.linear-big-3 .dijitButtonContents { background-position: 0 -15840px; } 
	.linear-big-4 .dijitButtonContents { background-position: 0 -15876px; } 
	.linear-big-5 .dijitButtonContents { background-position: 0 -15912px; } 
	.linear-big-6 .dijitButtonContents { background-position: 0 -15948px; } 
	.linear-medium-1 .dijitButtonContents { background-position: 0 -15984px; } 
	.linear-medium-2 .dijitButtonContents { background-position: 0 -16020px; } 
	.linear-medium-3 .dijitButtonContents { background-position: 0 -16056px; } 
	.linear-medium-4 .dijitButtonContents { background-position: 0 -16092px; } 
	.linear-medium-5 .dijitButtonContents { background-position: 0 -16128px; } 
	.linear-medium-6 .dijitButtonContents { background-position: 0 -16164px; } 
	.linear-small-1 .dijitButtonContents { background-position: 0 -16200px; } 
	.linear-small-2 .dijitButtonContents { background-position: 0 -16236px; } 
	.linear-small-3 .dijitButtonContents { background-position: 0 -16272px; } 
	.linear-small-4 .dijitButtonContents { background-position: 0 -16308px; } 
	.linear-small-5 .dijitButtonContents { background-position: 0 -16344px; } 
	.linear-small-6 .dijitButtonContents { background-position: 0 -16380px; } 
	.multimedia-camcorder .dijitButtonContents { background-position: 0 -16416px; } 
	.multimedia-camera .dijitButtonContents { background-position: 0 -16452px; } 
	.multimedia-clapper-board-1 .dijitButtonContents { background-position: 0 -16488px; } 
	.multimedia-clapper-board-2 .dijitButtonContents { background-position: 0 -16524px; } 
	.multimedia-equalizer .dijitButtonContents { background-position: 0 -16560px; } 
	.multimedia-frame-stats-1 .dijitButtonContents { background-position: 0 -16596px; } 
	.multimedia-frame-stats-2 .dijitButtonContents { background-position: 0 -16632px; } 
	.multimedia-movie-camera .dijitButtonContents { background-position: 0 -16668px; } 
	.multimedia-music-1 .dijitButtonContents { background-position: 0 -16704px; } 
	.multimedia-music-2 .dijitButtonContents { background-position: 0 -16740px; } 
	.multimedia-photo-roll .dijitButtonContents { background-position: 0 -16776px; } 
	.multimedia-picture .dijitButtonContents { background-position: 0 -16812px; } 
	.multimedia-pictures .dijitButtonContents { background-position: 0 -16848px; } 
	.multimedia-speakers .dijitButtonContents { background-position: 0 -16884px; } 
	.multimedia-video-camera .dijitButtonContents { background-position: 0 -16920px; } 
	.multimedia-video-player-1 .dijitButtonContents { background-position: 0 -16956px; } 
	.multimedia-video-player-2 .dijitButtonContents { background-position: 0 -16992px; } 
	.multimedia-video-player-3 .dijitButtonContents { background-position: 0 -17028px; } 
	.navigation-log-out-1 .dijitButtonContents { background-position: 0 -17064px; } 
	.navigation-log-out-2 .dijitButtonContents { background-position: 0 -17100px; } 
	.navigation-open-1 .dijitButtonContents { background-position: 0 -17136px; } 
	.navigation-open-2 .dijitButtonContents { background-position: 0 -17172px; } 
	.pages-2-columns .dijitButtonContents { background-position: 0 -17208px; } 
	.pages-3-columns .dijitButtonContents { background-position: 0 -17244px; } 
	.pages-3-panels .dijitButtonContents { background-position: 0 -17280px; } 
	.pages-4-panels .dijitButtonContents { background-position: 0 -17316px; } 
	.pages-edit .dijitButtonContents { background-position: 0 -17352px; } 
	.pages-empty .dijitButtonContents { background-position: 0 -17388px; } 
	.pages-header-2-columns .dijitButtonContents { background-position: 0 -17424px; } 
	.pages-header-3-panels .dijitButtonContents { background-position: 0 -17460px; } 
	.pages-header-column-left .dijitButtonContents { background-position: 0 -17496px; } 
	.pages-header .dijitButtonContents { background-position: 0 -17532px; } 
	.pages-left-column .dijitButtonContents { background-position: 0 -17568px; } 
	.pages-right-column .dijitButtonContents { background-position: 0 -17604px; } 
	.pages-text--picture-2 .dijitButtonContents { background-position: 0 -17640px; } 
	.pages-text--picture .dijitButtonContents { background-position: 0 -17676px; } 
	.pages-text-columns .dijitButtonContents { background-position: 0 -17712px; } 
	.pages-text .dijitButtonContents { background-position: 0 -17748px; } 
	.places-compass .dijitButtonContents { background-position: 0 -17784px; } 
	.places-desktop .dijitButtonContents { background-position: 0 -17820px; } 
	.places-earth .dijitButtonContents { background-position: 0 -17856px; } 
	.places-first-aid .dijitButtonContents { background-position: 0 -17892px; } 
	.places-home-1 .dijitButtonContents { background-position: 0 -17928px; } 
	.places-home-2 .dijitButtonContents { background-position: 0 -17964px; } 
	.places-lifebuoy .dijitButtonContents { background-position: 0 -18000px; } 
	.places-map-pin .dijitButtonContents { background-position: 0 -18036px; } 
	.places-map .dijitButtonContents { background-position: 0 -18072px; } 
	.places-traffic-barrier .dijitButtonContents { background-position: 0 -18108px; } 
	.places-traffic-cone .dijitButtonContents { background-position: 0 -18144px; } 
	.places-traffic-signs .dijitButtonContents { background-position: 0 -18180px; } 
	.programs-app-code .dijitButtonContents { background-position: 0 -18216px; } 
	.programs-app-console .dijitButtonContents { background-position: 0 -18252px; } 
	.programs-app-download .dijitButtonContents { background-position: 0 -18288px; } 
	.programs-app-layout .dijitButtonContents { background-position: 0 -18324px; } 
	.programs-app-list .dijitButtonContents { background-position: 0 -18360px; } 
	.programs-app-stats .dijitButtonContents { background-position: 0 -18396px; } 
	.programs-app-upload .dijitButtonContents { background-position: 0 -18432px; } 
	.programs-app .dijitButtonContents { background-position: 0 -18468px; } 
	.programs-brick .dijitButtonContents { background-position: 0 -18504px; } 
	.programs-bug .dijitButtonContents { background-position: 0 -18540px; } 
	.programs-firewall .dijitButtonContents { background-position: 0 -18576px; } 
	.programs-plugin .dijitButtonContents { background-position: 0 -18612px; } 
	.programs-script .dijitButtonContents { background-position: 0 -18648px; } 
	.rating-bookmark .dijitButtonContents { background-position: 0 -18684px; } 
	.rating-flag .dijitButtonContents { background-position: 0 -18720px; } 
	.rating-flame-1 .dijitButtonContents { background-position: 0 -18756px; } 
	.rating-flame-2 .dijitButtonContents { background-position: 0 -18792px; } 
	.rating-heart-1 .dijitButtonContents { background-position: 0 -18828px; } 
	.rating-heart-2 .dijitButtonContents { background-position: 0 -18864px; } 
	.rating-medal .dijitButtonContents { background-position: 0 -18900px; } 
	.rating-ribbon .dijitButtonContents { background-position: 0 -18936px; } 
	.rating-smiley-happy .dijitButtonContents { background-position: 0 -18972px; } 
	.rating-smiley-neutral .dijitButtonContents { background-position: 0 -19008px; } 
	.rating-smiley-sad .dijitButtonContents { background-position: 0 -19044px; } 
	.rating-star-half .dijitButtonContents { background-position: 0 -19080px; } 
	.rating-star .dijitButtonContents { background-position: 0 -19116px; } 
	.rating-thumb-down .dijitButtonContents { background-position: 0 -19152px; } 
	.rating-thumb-up .dijitButtonContents { background-position: 0 -19188px; } 
	.rating-trophy .dijitButtonContents { background-position: 0 -19224px; } 
	.refresh-sync-1 .dijitButtonContents { background-position: 0 -19260px; } 
	.refresh-sync-2 .dijitButtonContents { background-position: 0 -19296px; } 
	.refresh-sync-3 .dijitButtonContents { background-position: 0 -19332px; } 
	.refresh-update-1 .dijitButtonContents { background-position: 0 -19368px; } 
	.refresh-update-2 .dijitButtonContents { background-position: 0 -19404px; } 
	.refresh-update-3 .dijitButtonContents { background-position: 0 -19440px; } 
	.rounded-big-1 .dijitButtonContents { background-position: 0 -19476px; } 
	.rounded-big-2 .dijitButtonContents { background-position: 0 -19512px; } 
	.rounded-big-3 .dijitButtonContents { background-position: 0 -19548px; } 
	.rounded-big-4 .dijitButtonContents { background-position: 0 -19584px; } 
	.rounded-big-5 .dijitButtonContents { background-position: 0 -19620px; } 
	.rounded-big-6 .dijitButtonContents { background-position: 0 -19656px; } 
	.rounded-big-circle-1 .dijitButtonContents { background-position: 0 -19692px; } 
	.rounded-big-circle-2 .dijitButtonContents { background-position: 0 -19728px; } 
	.rounded-big-circle-3 .dijitButtonContents { background-position: 0 -19764px; } 
	.rounded-big-circle-4 .dijitButtonContents { background-position: 0 -19800px; } 
	.rounded-big-circle-5 .dijitButtonContents { background-position: 0 -19836px; } 
	.rounded-big-circle-6 .dijitButtonContents { background-position: 0 -19872px; } 
	.rounded-medium-1 .dijitButtonContents { background-position: 0 -19908px; } 
	.rounded-medium-2 .dijitButtonContents { background-position: 0 -19944px; } 
	.rounded-medium-3 .dijitButtonContents { background-position: 0 -19980px; } 
	.rounded-medium-4 .dijitButtonContents { background-position: 0 -20016px; } 
	.rounded-medium-5 .dijitButtonContents { background-position: 0 -20052px; } 
	.rounded-medium-6 .dijitButtonContents { background-position: 0 -20088px; } 
	.settings-dashboard .dijitButtonContents { background-position: 0 -20124px; } 
	.settings-hammer .dijitButtonContents { background-position: 0 -20160px; } 
	.settings-screwdriver .dijitButtonContents { background-position: 0 -20196px; } 
	.settings-settings-1 .dijitButtonContents { background-position: 0 -20232px; } 
	.settings-settings-2 .dijitButtonContents { background-position: 0 -20268px; } 
	.settings-settings-3 .dijitButtonContents { background-position: 0 -20304px; } 
	.settings-sliders .dijitButtonContents { background-position: 0 -20340px; } 
	.settings-switch .dijitButtonContents { background-position: 0 -20376px; } 
	.settings-toolbox .dijitButtonContents { background-position: 0 -20412px; } 
	.settings-wave .dijitButtonContents { background-position: 0 -20448px; } 
	.settings-wrench .dijitButtonContents { background-position: 0 -20484px; } 
	.share-RSS-1 .dijitButtonContents { background-position: 0 -20520px; } 
	.share-RSS-2 .dijitButtonContents { background-position: 0 -20556px; } 
	.share-RSS-3 .dijitButtonContents { background-position: 0 -20592px; } 
	.share-broadcast .dijitButtonContents { background-position: 0 -20628px; } 
	.share-emission-reception .dijitButtonContents { background-position: 0 -20664px; } 
	.share-sharing .dijitButtonContents { background-position: 0 -20700px; } 
	.share-waves-1 .dijitButtonContents { background-position: 0 -20736px; } 
	.share-waves-2 .dijitButtonContents { background-position: 0 -20772px; } 
	.share-waves-3 .dijitButtonContents { background-position: 0 -20808px; } 
	.size-extend-1 .dijitButtonContents { background-position: 0 -20844px; } 
	.size-extend-2 .dijitButtonContents { background-position: 0 -20880px; } 
	.size-extend-3 .dijitButtonContents { background-position: 0 -20916px; } 
	.size-extend-4 .dijitButtonContents { background-position: 0 -20952px; } 
	.size-extend-5 .dijitButtonContents { background-position: 0 -20988px; } 
	.size-extend-6 .dijitButtonContents { background-position: 0 -21024px; } 
	.size-full-size .dijitButtonContents { background-position: 0 -21060px; } 
	.size-minimize-1 .dijitButtonContents { background-position: 0 -21096px; } 
	.size-minimize-2 .dijitButtonContents { background-position: 0 -21132px; } 
	.size-move-2 .dijitButtonContents { background-position: 0 -21168px; } 
	.size-move-left .dijitButtonContents { background-position: 0 -21204px; } 
	.size-move-right .dijitButtonContents { background-position: 0 -21240px; } 
	.size-move .dijitButtonContents { background-position: 0 -21276px; } 
	.size-new-window .dijitButtonContents { background-position: 0 -21312px; } 
	.size-normal-size .dijitButtonContents { background-position: 0 -21348px; } 
	.sound-headphone .dijitButtonContents { background-position: 0 -21384px; } 
	.sound-microphone .dijitButtonContents { background-position: 0 -21420px; } 
	.sound-speaker-low .dijitButtonContents { background-position: 0 -21456px; } 
	.sound-speaker-up .dijitButtonContents { background-position: 0 -21492px; } 
	.sound-speaker-volume-high .dijitButtonContents { background-position: 0 -21528px; } 
	.sound-speaker-volume-low .dijitButtonContents { background-position: 0 -21564px; } 
	.sound-speaker-volume-mute .dijitButtonContents { background-position: 0 -21600px; } 
	.sound-speaker .dijitButtonContents { background-position: 0 -21636px; } 
	.squared-big-1 .dijitButtonContents { background-position: 0 -21672px; } 
	.squared-big-2 .dijitButtonContents { background-position: 0 -21708px; } 
	.squared-big-3 .dijitButtonContents { background-position: 0 -21744px; } 
	.squared-big-4 .dijitButtonContents { background-position: 0 -21780px; } 
	.squared-big-5 .dijitButtonContents { background-position: 0 -21816px; } 
	.squared-big-6 .dijitButtonContents { background-position: 0 -21852px; } 
	.squared-big-circle-1 .dijitButtonContents { background-position: 0 -21888px; } 
	.squared-big-circle-2 .dijitButtonContents { background-position: 0 -21924px; } 
	.squared-big-circle-3 .dijitButtonContents { background-position: 0 -21960px; } 
	.squared-big-circle-4 .dijitButtonContents { background-position: 0 -21996px; } 
	.squared-big-circle-5 .dijitButtonContents { background-position: 0 -22032px; } 
	.squared-big-circle-6 .dijitButtonContents { background-position: 0 -22068px; } 
	.squared-medium-1 .dijitButtonContents { background-position: 0 -22104px; } 
	.squared-medium-2 .dijitButtonContents { background-position: 0 -22140px; } 
	.squared-medium-3 .dijitButtonContents { background-position: 0 -22176px; } 
	.squared-medium-4 .dijitButtonContents { background-position: 0 -22212px; } 
	.squared-medium-5 .dijitButtonContents { background-position: 0 -22248px; } 
	.squared-medium-6 .dijitButtonContents { background-position: 0 -22284px; } 
	.squared-small-1 .dijitButtonContents { background-position: 0 -22320px; } 
	.squared-small-2 .dijitButtonContents { background-position: 0 -22356px; } 
	.squared-small-3 .dijitButtonContents { background-position: 0 -22392px; } 
	.squared-small-4 .dijitButtonContents { background-position: 0 -22428px; } 
	.squared-small-5 .dijitButtonContents { background-position: 0 -22464px; } 
	.squared-small-6 .dijitButtonContents { background-position: 0 -22500px; } 
	.straight-big-1 .dijitButtonContents { background-position: 0 -22536px; } 
	.straight-big-2 .dijitButtonContents { background-position: 0 -22572px; } 
	.straight-big-3 .dijitButtonContents { background-position: 0 -22608px; } 
	.straight-big-4 .dijitButtonContents { background-position: 0 -22644px; } 
	.straight-big-5 .dijitButtonContents { background-position: 0 -22680px; } 
	.straight-big-6 .dijitButtonContents { background-position: 0 -22716px; } 
	.straight-big-7 .dijitButtonContents { background-position: 0 -22752px; } 
	.straight-big-circle-1 .dijitButtonContents { background-position: 0 -22788px; } 
	.straight-big-circle-2 .dijitButtonContents { background-position: 0 -22824px; } 
	.straight-big-circle-3 .dijitButtonContents { background-position: 0 -22860px; } 
	.straight-big-circle-4 .dijitButtonContents { background-position: 0 -22896px; } 
	.straight-big-circle-5 .dijitButtonContents { background-position: 0 -22932px; } 
	.straight-big-circle-6 .dijitButtonContents { background-position: 0 -22968px; } 
	.straight-medium-1 .dijitButtonContents { background-position: 0 -23004px; } 
	.straight-medium-2 .dijitButtonContents { background-position: 0 -23040px; } 
	.straight-medium-3 .dijitButtonContents { background-position: 0 -23076px; } 
	.straight-medium-4 .dijitButtonContents { background-position: 0 -23112px; } 
	.straight-medium-5 .dijitButtonContents { background-position: 0 -23148px; } 
	.straight-medium-6 .dijitButtonContents { background-position: 0 -23184px; } 
	.straight-small-1 .dijitButtonContents { background-position: 0 -23220px; } 
	.straight-small-2 .dijitButtonContents { background-position: 0 -23256px; } 
	.straight-small-3 .dijitButtonContents { background-position: 0 -23292px; } 
	.straight-small-4 .dijitButtonContents { background-position: 0 -23328px; } 
	.straight-small-5 .dijitButtonContents { background-position: 0 -23364px; } 
	.straight-small-6 .dijitButtonContents { background-position: 0 -23400px; } 
	.text-add-document .dijitButtonContents { background-position: 0 -23436px; } 
	.text-anchor .dijitButtonContents { background-position: 0 -23472px; } 
	.text-binoculars .dijitButtonContents { background-position: 0 -23508px; } 
	.text-bold .dijitButtonContents { background-position: 0 -23544px; } 
	.text-centered .dijitButtonContents { background-position: 0 -23580px; } 
	.text-code .dijitButtonContents { background-position: 0 -23616px; } 
	.text-copy .dijitButtonContents { background-position: 0 -23652px; } 
	.text-cut .dijitButtonContents { background-position: 0 -23688px; } 
	.text-erase .dijitButtonContents { background-position: 0 -23724px; } 
	.text-highlight-color .dijitButtonContents { background-position: 0 -23760px; } 
	.text-indent-1 .dijitButtonContents { background-position: 0 -23796px; } 
	.text-indent-2 .dijitButtonContents { background-position: 0 -23832px; } 
	.text-italic .dijitButtonContents { background-position: 0 -23868px; } 
	.text-justified .dijitButtonContents { background-position: 0 -23904px; } 
	.text-left-align .dijitButtonContents { background-position: 0 -23940px; } 
	.text-list-order .dijitButtonContents { background-position: 0 -23976px; } 
	.text-list .dijitButtonContents { background-position: 0 -24012px; } 
	.text-paragraph .dijitButtonContents { background-position: 0 -24048px; } 
	.text-paste .dijitButtonContents { background-position: 0 -24084px; } 
	.text-print .dijitButtonContents { background-position: 0 -24120px; } 
	.text-quote .dijitButtonContents { background-position: 0 -24156px; } 
	.text-redo .dijitButtonContents { background-position: 0 -24192px; } 
	.text-right-aligned .dijitButtonContents { background-position: 0 -24228px; } 
	.text-rule .dijitButtonContents { background-position: 0 -24264px; } 
	.text-save-document .dijitButtonContents { background-position: 0 -24300px; } 
	.text-strike .dijitButtonContents { background-position: 0 -24336px; } 
	.text-text .dijitButtonContents { background-position: 0 -24372px; } 
	.text-underline-color .dijitButtonContents { background-position: 0 -24408px; } 
	.text-underline .dijitButtonContents { background-position: 0 -24444px; } 
	.text-undo .dijitButtonContents { background-position: 0 -24480px; } 
	.time-bell .dijitButtonContents { background-position: 0 -24516px; } 
	.time-calendar-1 .dijitButtonContents { background-position: 0 -24552px; } 
	.time-calendar-2 .dijitButtonContents { background-position: 0 -24588px; } 
	.time-chronometer .dijitButtonContents { background-position: 0 -24624px; } 
	.time-clock-alarm .dijitButtonContents { background-position: 0 -24660px; } 
	.time-clock .dijitButtonContents { background-position: 0 -24696px; } 
	.time-hourglass .dijitButtonContents { background-position: 0 -24732px; } 
	.time-spinner .dijitButtonContents { background-position: 0 -24768px; } 
	.transfer-cloud-download .dijitButtonContents { background-position: 0 -24804px; } 
	.transfer-cloud-upload .dijitButtonContents { background-position: 0 -24840px; } 
	.transfer-download-1 .dijitButtonContents { background-position: 0 -24876px; } 
	.transfer-download-2 .dijitButtonContents { background-position: 0 -24912px; } 
	.transfer-download-3 .dijitButtonContents { background-position: 0 -24948px; } 
	.transfer-download-4 .dijitButtonContents { background-position: 0 -24984px; } 
	.transfer-download-5 .dijitButtonContents { background-position: 0 -25020px; } 
	.transfer-download-6 .dijitButtonContents { background-position: 0 -25056px; } 
	.transfer-download-7 .dijitButtonContents { background-position: 0 -25092px; } 
	.transfer-download-8 .dijitButtonContents { background-position: 0 -25128px; } 
	.transfer-download-9 .dijitButtonContents { background-position: 0 -25164px; } 
	.transfer-upload-1 .dijitButtonContents { background-position: 0 -25200px; } 
	.transfer-upload-2 .dijitButtonContents { background-position: 0 -25236px; } 
	.transfer-upload-3 .dijitButtonContents { background-position: 0 -25272px; } 
	.transfer-upload-4 .dijitButtonContents { background-position: 0 -25308px; } 
	.transfer-upload-5 .dijitButtonContents { background-position: 0 -25344px; } 
	.transfer-upload-6 .dijitButtonContents { background-position: 0 -25380px; } 
	.triangle-big-1 .dijitButtonContents { background-position: 0 -25416px; } 
	.triangle-big-2 .dijitButtonContents { background-position: 0 -25452px; } 
	.triangle-big-3 .dijitButtonContents { background-position: 0 -25488px; } 
	.triangle-big-4 .dijitButtonContents { background-position: 0 -25524px; } 
	.triangle-big-circle-1 .dijitButtonContents { background-position: 0 -25560px; } 
	.triangle-big-circle-2 .dijitButtonContents { background-position: 0 -25596px; } 
	.triangle-big-circle-3 .dijitButtonContents { background-position: 0 -25632px; } 
	.triangle-big-circle-4 .dijitButtonContents { background-position: 0 -25668px; } 
	.triangle-medium-circle-1 .dijitButtonContents { background-position: 0 -25704px; } 
	.triangle-medium-circle-2 .dijitButtonContents { background-position: 0 -25740px; } 
	.triangle-medium-circle-3 .dijitButtonContents { background-position: 0 -25776px; } 
	.triangle-medium-circle-4 .dijitButtonContents { background-position: 0 -25812px; } 
	.triangle-mini-1 .dijitButtonContents { background-position: 0 -25848px; } 
	.triangle-mini-2 .dijitButtonContents { background-position: 0 -25884px; } 
	.triangle-mini-3 .dijitButtonContents { background-position: 0 -25920px; } 
	.triangle-mini-4 .dijitButtonContents { background-position: 0 -25956px; } 
	.triangle-small-1 .dijitButtonContents { background-position: 0 -25992px; } 
	.triangle-small-2 .dijitButtonContents { background-position: 0 -26028px; } 
	.triangle-small-3 .dijitButtonContents { background-position: 0 -26064px; } 
	.triangle-small-4 .dijitButtonContents { background-position: 0 -26100px; } 
	.triangle-small-circle-1 .dijitButtonContents { background-position: 0 -26136px; } 
	.triangle-small-circle-2 .dijitButtonContents { background-position: 0 -26172px; } 
	.triangle-small-circle-3 .dijitButtonContents { background-position: 0 -26208px; } 
	.triangle-small-circle-4 .dijitButtonContents { background-position: 0 -26244px; } 
	.validation-cross .dijitButtonContents { background-position: 0 -26280px; } 
	.validation-tick-1 .dijitButtonContents { background-position: 0 -26316px; } 
	.validation-tick-2 .dijitButtonContents { background-position: 0 -26352px; } 
	.validation-tick-circle-1 .dijitButtonContents { background-position: 0 -26388px; } 
	.validation-tick-circle-2 .dijitButtonContents { background-position: 0 -26424px; } 
	.validation-tick-circle-3 .dijitButtonContents { background-position: 0 -26460px; } 
	.validation-tick-circle-4 .dijitButtonContents { background-position: 0 -26496px; } 
	.validation-tick-small .dijitButtonContents { background-position: 0 -26532px; } 
	.validation-tick-square-1 .dijitButtonContents { background-position: 0 -26568px; } 
	.validation-tick-square-2 .dijitButtonContents { background-position: 0 -26604px; } 
	.validation-tick-square-smal .dijitButtonContents { background-position: 0 -26640px; } 
	.various-bomb .dijitButtonContents { background-position: 0 -26676px; } 
	.various-ghost .dijitButtonContents { background-position: 0 -26712px; } 
	.various-light-bulb-1 .dijitButtonContents { background-position: 0 -26748px; } 
	.various-light-bulb-2 .dijitButtonContents { background-position: 0 -26784px; } 
	.various-pac-man .dijitButtonContents { background-position: 0 -26820px; } 
	.various-pill .dijitButtonContents { background-position: 0 -26856px; } 
	.various-space-invader .dijitButtonContents { background-position: 0 -26892px; } 
	.various-test-tube-1 .dijitButtonContents { background-position: 0 -26928px; } 
	.various-test-tube-2 .dijitButtonContents { background-position: 0 -26964px; } 
	.various-yin-yang .dijitButtonContents { background-position: 0 -27000px; } 
	.weather-cloud .dijitButtonContents { background-position: 0 -27036px; } 
	.weather-clouds .dijitButtonContents { background-position: 0 -27072px; } 
	.weather-cloudy .dijitButtonContents { background-position: 0 -27108px; } 
	.weather-lighting .dijitButtonContents { background-position: 0 -27144px; } 
	.weather-rain .dijitButtonContents { background-position: 0 -27180px; } 
	.weather-snow-1 .dijitButtonContents { background-position: 0 -27216px; } 
	.weather-snow-2 .dijitButtonContents { background-position: 0 -27252px; } 
	.weather-sun .dijitButtonContents { background-position: 0 -27288px; } 
	.weather-thermometer .dijitButtonContents { background-position: 0 -27324px; } 
	.weather-umbrella .dijitButtonContents { background-position: 0 -27360px; } 
